/* colours */
:root{
  --primary: #e6457a;
  --secondary: #2e4053;
  --title: #ffd700;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
  font-size: medium;
}
nav .sidenav-trigger{
  margin: 0;
}

/*sign up*/
.side-form.active {
  display: block; /* or any other styles you want to apply */
}

/* reservation styles */
.reservation{
  margin-top: 20px;
}
.card-panel.student{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.reservation img{
  grid-area: image;
  max-width: 60px;
}
.reservation-details{
  grid-area: details;
  margin-top: 6px;
}
.reservation-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.reservation-delete i{
  font-size: 18px;
}
.reservation-name{
  font-weight: bold;
}
.reservation-id{
  font-size: 0.8em;
}

/* login-form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}


/*  inputs */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #2e4053;
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  width: 50%;
  display: block;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ffd700;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}